.hero-wraper {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  background-color: var(--clr-primary-light);
}

.hero-slide {
  position: absolute;
  width: 100vw;
  height: 100vh;
  transition: all 1s ease-in-out;
}
.active-slide {
  transform: translateX(0%);
  opacity: 1;
}
.last-slide {
  transform: translateX(-100%);
  opacity: 0;
}
.next-slide {
  transform: translateX(100%);
  opacity: 0;
}

.hero-slide img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  color: white;
  font-size: 2.5rem;
  cursor: pointer;
  transition: all 0.3s linear;
}

.prev:hover,
.next:hover {
  color: var(--clr-primary-dark);
}
.prev {
  left: 5%;
}
.next {
  right: 5%;
}
